# Compiled Python files
*.pyc
__pycache__/
*.pth

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
*.env

# IDE files and directories
.idea/
.vscode/
*.pydevproject
*.pyt
*.pyc
*.bak
*.swp
*.orig
*~ 
*.cache
*.log
*.out
*.egg-info
*.egg
